.avatar-circle {
    border-radius: 50%;
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* body {
    padding-top: 60px;
} */

section {
    padding-top: 65px;
    padding-bottom: 50px;
}

.section-heading {
padding: 40px;
}

.navbar{
    
    background: #80B0C7;
    top: 0;
    right: 0;
    left: 0;
}

#navbarIcons{
    
    color:#474747;
}
.navbar-brand{
    color: #474747;
    
}
.footer{
    background: #80B0C7;
    font-family: 'Times New Roman', Times, serif;
   
}
.nav-link{
    color: #474747;
}
#about{
    
    background: #FFFBFA;
    color: #474747;
    display:flex;
    align-items: center;
}
#profile{
    position: relative;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#experience{
background: #FFFBFA;
}
#education{
    background: #FFFBFA;
}
#publications{
    background: #FFFBFA;
}
#cv{
    background: #FFFBFA;
}
.icon{
    padding-top: 1px;
    padding-left: 4px;

}
.colorExperience{
    border-color: #57A773;
    border-width: medium;
    border-radius: 10px;
    padding: 15px;
}
.colorEducation{
    border-color: #81667A;
    border-width: medium;
    border-radius: 10px;
    padding: 15px;
}
.colorPublications{
    border-color: #414535;
    border-width: medium;
    border-radius: 10px;
    padding: 15px;
    color: #474747;
}
.colorCV{
    border-color: #EF767A;
    border-width: medium;
    border-radius: 10px;
    padding: 15px;
}
.card{
    background: #FFFBFA;
}
h1, h4, h5, h3, p{
    color: #006494;
}

